* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-colour: #8e8cb2;
    --light-colour: #c2c1d1;
    --dark-colour: #111;
    --ballpoint-colour: #150d80;

}

/*
Source - https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css
Posted by Abhinav Gauniyal
Retrieved 05/11/2025, License - CC-BY-SA 4.0
*/

@font-face {
    font-family: "handwritten";
    src: url('Handwritten_Regular/handwritten-regular-webfont.woff') format('woff'), /* Modern Browsers */
         url('Handwritten_Regular/Handwritten-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Handwritten_Regular/handwritten-regular-webfont.woff2') format('woff2');
}

body {
    font-family: "handwritten";
    font-size: 28px;
    color: var(--ballpoint-colour);
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #ffffff;
    padding: 20px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 7px 16px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: var(--light-colour)
}


.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar ul li a i {
    font-size: 20px;
    margin-right: 0px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: #fff;
    background-size: contain;
    background-position: center bottom;
    height: 500px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.hero .hero-heading {
    margin-top: 100px;
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
}

.testimonials-heading {
    display: block;
    width: 1100px;
    margin-bottom: 2rem;     
  }

.testimonials-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.testimonials .card {
    padding: 25px;
}

.testimonials .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

/* Malta */
.malta {
    background:  #e7dcca;
    padding: 40px 0 100px;
}

.malta .malta-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.malta .card {
    padding: 25px;
}

.malta .card p {
    margin-left: 0px;
}

.malta .card p:nth-child(2) {
    margin-top: 10px;
    font-weight: bold;
}

/* Ballpoint */ 
.ballpoint {
    background: #e7dcca;
    padding: 40px 0;
}

.ballpoint .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.ballpoint .column {
    flex: 30%;
    padding: 0 15px;
}

.ballpoint .column .tile {
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

.ballpoint .column .tile p {
    display: none;
    background: #fff;
    padding: 0px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3a;
  }

.ballpoint .column .tile:hover {
    opacity: 0.6;
}

.ballpoint .column .tile:hover p {
    display: block;
}


/* Archives */
.archives {
    background: var(--light-colour);
    padding: 40px 0 100px;
}

.archives .archives-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.archives .card {
    padding: 25px;
    border-radius: 0px;
}

.archives .card p:nth-child(2) {
    margin-top: 0px;
    font-weight: bold;
}
.archives .card p:nth-child(3) {
    margin-top: 0px;
    font-size: 1.3rem;
    font-weight: normal;
}


/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 15px;

}
.container-sm {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0 15px;
}

.container-malta {
    background: #e6c289;
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 15px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 7px 16px;
    background: var(--light-colour);
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary{
    background: var(--light-colour);
    color: #fff;
}

.btn-dark{
    background: var(--dark-colour);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 10px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 13px;
}

.text-l {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 15px 0 15px;
}

.text-m {
    font-size: 1.3rem;
    line-height: 1.0;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-s {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}


/* Background */

.bg-primary {
    background: var(--light-colour);
    color: #333;
}

.bg-white {
    background: #fff;
    color: #333;
}

.bg-dark {
    background: var(--dark-colour);
    color: #ffffff;
}

.bg-black {
    background: #111;
    color: #fff;
}

.card {
    background: #fff;
    color: var(--ballpoint-colour);
    border-radius: 10px;
    padding: 10px;
}

